
  <nz-layout>
    <nz-sider nzCollapsible nzWidth="200px">
      <div class="logo"></div>
      <ul nz-menu nzTheme="dark" nzMode="inline">
        <li nz-submenu nzTitle="Product" nzIcon="user">
        </li>
        <li nz-submenu routerLink="/promotion" nzTitle="promotion" nzIcon="promotion">
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header></nz-header>
      <nz-content>
        <nz-breadcrumb>
          <nz-breadcrumb-item>retail</nz-breadcrumb-item>
          <nz-breadcrumb-item>Product</nz-breadcrumb-item>
        </nz-breadcrumb>
        <div class="inner-content">

            
          <div nz-row>
            <button nz-button [nzType]="'primary'" (click)="showModal()"><span>Add Product</span></button>
          </div><br>
            
          <nz-divider nzPlain nzText="Product Details Table" nzOrientation="left"></nz-divider>
           
            <div nz-row>
              
              <div nz-col nzSpan="12">

                <nz-table #basicTable [nzData]="mydata">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Quntity</th>
                      <th>Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of basicTable.data">
                      <td>{{ data.id }}</td>
                      <td>{{ data.name }}</td>
                      <td>{{ data.qty }}</td>
                      <td>{{ data.price }}</td>
                      <td>
                        <!-- <a (click)="edit(data)">Edit</a>
                        <nz-divider nzType="vertical"></nz-divider> -->
                        <a (click)="delete(data.id)">Delete</a>
                      </td>
                    </tr>
                  </tbody>
                </nz-table>


              </div>
            </div>

         

        </div>
      </nz-content>
      <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
    </nz-layout>
  </nz-layout>

  <nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent><app-edit></app-edit></ng-container>
    
  </nz-modal>

  